html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #sobremi {
    
    padding: 20px;
    background-color: rgb(184, 181, 181);
    
  }

  #experiencia{
    padding: 20px;
    background-color: gray;
  }

  #habilidades{
    padding: 20px;
    background-color: #708070;
  }

  #formacion{
   background-color: #232f99;
    padding: 20px;

  }

  #cab-cont{
    background: #959795;
    border: 2px solid #213063;
    padding: 10px;
    display:flex;
    align-items:center;
    display: flex ;
  }

  #foto{
    width: 150px;
    height: 150px;
     border: 2px solid #aaaaaa;
     margin: none;
  }

  #nombre{
    flex-grow: 1;
    text-align:center;
    color: #000000;
    font-size: 80px;
    font-weight: bolder;
   }

   #h2 #nombre{
    flex-grow:1;
    text-align:center;
    color: #232f99;
    font-size: x-large;
    font-weight: bolder;
   }


  nav {
    width: 100%;
    background-color: steelblue;
    padding-left: 30px;
    padding-right: 10px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: inline-block;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
  }

  li{
    color: transparent; /*quitar color a las viñetas de la lista*/
  }
  
  .nav-item:hover {
    background-color: white;
  }
  
  .nav-item:hover a {
    color: steelblue;
  }
  
  .logo img {
    width: 175px;
    vertical-align: middle;
  }
  .boton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    border: none;
    background: linear-gradient(to right, rgb(14, 67, 174), rgb(7, 94, 224));
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease 400ms;
}

button:hover {
    transform: scale(1.1);
}